Repository forcedotcom/soql-tooling: changes, and which Codecov flags are due for each by the changed paths.
All: language-server, sobject-metadata, soql-builder-ui, soql-model

Fixing YAML format errors
  .circleci/config.yml
Due: none

Adding final report files
  .circleci/config.yml
Due: none

Trying minimal implementation with orbs
  .circleci/config.yml
  .codecov.yml
Due: none

Trying no configuration file
  .circleci/config.yml
  .codecov.yml
Due: none

Adding file path for soql-model
  .circleci/config.yml
Due: none

Ignoring files
  .codecov.yml
Due: none

Stabilizing the branch
  .circleci/config.yml
  .codecov.yml
Due: none

identify 'no selections' error
  .vscode/launch.json
  packages/soql-model/src/messages/messages.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/model/util.test.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

Lf/codecov setup (#19)
  .circleci/config.yml
  packages/language-server/package.json
  packages/sobject-metadata/package.json
  packages/soql-model/package.json
Due: language-server, sobject-metadata, soql-model

deserialize: empty stmt err & always return model
  packages/soql-model/src/messages/messages.ts
  packages/soql-model/src/model/impl/queryImpl.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

identified 3 errors
  packages/soql-model/src/messages/messages.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

fix formatting, delete unused imports
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/vscodeMessageService.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
Due: soql-builder-ui

model no selections error as empty SelectExprsImpl
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

send message to run the query
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/soqlEditorEvent.ts
Due: soql-builder-ui

progress
  .vscode/settings.json
  Dependencies/package/package.json
  packages/soql-builder-ui/.gitignore
  packages/soql-builder-ui/.vscode/settings.json
  packages/soql-builder-ui/src/modules/querybuilder/app/app.css
  packages/soql-builder-ui/src/modules/querybuilder/app/app.html
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/cssCommon/cssCommon.css
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
  packages/soql-builder-ui/src/modules/querybuilder/from/from.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/vscodeMessageService.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
  packages/soql-model/scripts/getsobject.js
Due: soql-builder-ui, soql-model

better message handling, with errors and unsupported
  packages/soql-builder-ui/src/modules/querybuilder/app/app.css
  packages/soql-builder-ui/src/modules/querybuilder/app/app.html
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
  packages/soql-builder-ui/src/modules/querybuilder/from/from.ts
Due: soql-builder-ui

wip
  packages/soql-builder-ui/src/modules/querybuilder/app/app.html
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/error/errorModel.ts
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
Due: soql-builder-ui

Show SOQL query in webview panel
  packages/soql-builder-ui/package.json
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.css
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.html
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/vscodeMessageService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
  packages/soql-builder-ui/webpack.config.js
Due: soql-builder-ui

tests written
  packages/soql-builder-ui/.vscode/launch.json
  packages/soql-builder-ui/src/modules/querybuilder/app/app.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingSDK.ts
Due: soql-builder-ui

added tests for from and fields
  packages/soql-builder-ui/src/modules/querybuilder/app/app.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
  packages/soql-builder-ui/src/modules/querybuilder/from/from.test.ts
Due: soql-builder-ui

identify recoverable errors (#20)
  .vscode/launch.json
  packages/soql-model/src/messages/messages.ts
  packages/soql-model/src/model/impl/queryImpl.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/model/util.test.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

clean up before PR
  packages/soql-builder-ui/.gitignore
  packages/soql-builder-ui/.vscode/launch.json
  packages/soql-builder-ui/src/modules/querybuilder/app/app.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.test.ts
  packages/soql-model/scripts/getsobject.js
Due: soql-builder-ui, soql-model

cleanup and i18n comments
  packages/soql-builder-ui/src/modules/querybuilder/app/app.html
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-model/scripts/getsobject.js
Due: soql-builder-ui, soql-model

remove lint override
  packages/soql-builder-ui/src/modules/querybuilder/app/app.test.ts
Due: soql-builder-ui

Show SOQL query in webview panel (#21)
  packages/soql-builder-ui/package.json
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.css
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.html
  packages/soql-builder-ui/src/modules/querybuilder/queryPreview/queryPreview.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/vscodeMessageService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
  packages/soql-builder-ui/webpack.config.js
Due: soql-builder-ui

model ORDER BY
  packages/soql-model/src/model/impl/fieldRefImpl.test.ts
  packages/soql-model/src/model/impl/fieldSelectionImpl.test.ts
  packages/soql-model/src/model/impl/fieldSelectionImpl.ts
  packages/soql-model/src/model/impl/index.ts
  packages/soql-model/src/model/impl/orderByExpressionImpl.test.ts
  packages/soql-model/src/model/impl/orderByExpressionImpl.ts
  packages/soql-model/src/model/impl/orderByImpl.test.ts
  packages/soql-model/src/model/impl/orderByImpl.ts
  packages/soql-model/src/model/impl/queryImpl.test.ts
  packages/soql-model/src/model/impl/selectExprsImpl.test.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/model/util.test.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

update model conversion functions for changes
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.ts
Due: soql-builder-ui

update the scripts...quite helpful in QA
  packages/soql-model/scripts/getquery.js
  packages/soql-model/scripts/getsobject.js
Due: soql-model

further script updates
  packages/soql-model/scripts/getquery.js
Due: soql-model

improve test coverage
  packages/soql-model/src/model/impl/orderByImpl.test.ts
  packages/soql-model/src/serialization/deserializer.test.ts
Due: soql-model

more code coverage
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

updates based on PR comments
  .gitignore
  Dependencies/package/package.json
  packages/sobject-metadata/package.json
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
Due: sobject-metadata, soql-builder-ui

remove comment
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
Due: soql-builder-ui

updare dependencies
  packages/soql-builder-ui/package-lock.json
  packages/soql-builder-ui/package.json
  yarn.lock
Due: soql-builder-ui

update the ui package version
  packages/soql-builder-ui/package.json
Due: soql-builder-ui

Remove sobject-metadata
  jest.config.js
  package.json
  packages/sobject-metadata/.eslintignore
  packages/sobject-metadata/.eslintrc.json
  packages/sobject-metadata/.npmignore
  packages/sobject-metadata/jest.config.js
  packages/sobject-metadata/package.json
  packages/sobject-metadata/scripts/runDescribe.js
  packages/sobject-metadata/src/describe/sobjectApi.test.ts
  packages/sobject-metadata/src/describe/sobjectApi.ts
  packages/sobject-metadata/src/describe/sobjectService.test.ts
  packages/sobject-metadata/src/describe/sobjectService.ts
  packages/sobject-metadata/src/describe/testData.ts
  packages/sobject-metadata/src/index.ts
  packages/sobject-metadata/tsconfig.json
Due: sobject-metadata

Update UI to Display Recoverable Errors and Block on Unsupported Syntax (#22)
  .gitignore
  .vscode/settings.json
  packages/sobject-metadata/package.json
  packages/soql-builder-ui/.gitignore
  packages/soql-builder-ui/.vscode/launch.json
  packages/soql-builder-ui/.vscode/settings.json
  packages/soql-builder-ui/src/modules/querybuilder/app/app.css
  packages/soql-builder-ui/src/modules/querybuilder/app/app.html
  packages/soql-builder-ui/src/modules/querybuilder/app/app.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/app/app.ts
  packages/soql-builder-ui/src/modules/querybuilder/cssCommon/cssCommon.css
  packages/soql-builder-ui/src/modules/querybuilder/error/errorModel.ts
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.html
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/fields/fields.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.html
  packages/soql-builder-ui/src/modules/querybuilder/from/from.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/from/from.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/message/vscodeMessageService.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/soqlUtils.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.test.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingModelService.ts
  packages/soql-builder-ui/src/modules/querybuilder/services/toolingSDK.ts
Due: sobject-metadata, soql-builder-ui

Model LIMIT clause
  packages/soql-model/src/model/impl/index.ts
  packages/soql-model/src/model/impl/limitImpl.test.ts
  packages/soql-model/src/model/impl/limitImpl.ts
  packages/soql-model/src/model/impl/queryImpl.test.ts
  packages/soql-model/src/model/model.ts
  packages/soql-model/src/serialization/deserializer.test.ts
  packages/soql-model/src/serialization/deserializer.ts
Due: soql-model

Add some notes about linking across packages
  README.md
Due: none

Add some notes about linking across packages (#28)
  README.md
Due: none

Path conditions:
  language-server: any of: packages/language-server
  sobject-metadata: any of: packages/sobject-metadata
  soql-builder-ui: any of: packages/soql-builder-ui
  soql-model: any of: packages/soql-model
